.sidenav {
    position: relative;
    height: 100vh;
    width: auto;
    top: 0;
    left: 0;
    background: #fff;
    overflow-x: hidden;
    border-radius: 0 15px 15px 0;
    box-shadow: 0 0 0 0.09rem #ededee;
}
.bg-01, .bg-02 {
    position: absolute;
}
.bg-01 {
    width: 343.9px;
    height: 75vh;
    z-index: 0;
    left: -113.23px;
    top: -13.86px;
    background: linear-gradient(266.09deg,rgba(255,65,5,.1) 12.18%,rgba(255,218,121,.29) 51.97%,rgba(58,243,255,.6) 76.62%,rgba(56,207,255,.489074) 112.51%);
    background-size: cover;
    mix-blend-mode: color;
    filter: blur(97.4216px);
    transform: rotate(37.76deg);
}
.bg-02 {
    width: 347.57px;
    height: 300.18px;
    left: -102.92px;
    top: 37.63px;
    background: linear-gradient(242.8deg,rgba(244,255,5,0) 33.84%,rgba(253,99,210,.47843137254901963) 68.13%,rgba(56,255,231,0) 114.55%);
    mix-blend-mode: normal;
    opacity: .45;
    filter: blur(116.906px);
    transform: rotate(-82.24deg);
}
.bg-content {
    z-index: 100;
    position: absolute;
    width: 100%;
}
.app-logo {
    padding: 20px 0 16px 25px;
    width: 55px;
}
img, svg {
    vertical-align: middle;
}
.app-title {
    position: absolute;
    top: 25px;
    font-size: 12px;
    font-weight: 600;
    left: 65px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.sidenav a {
    padding: 6px 16px 16px 30px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: #434343;
    display: block;
    transition: .4s;
}